require 'flickraw'

ADMIN_PASS = 'fill me in'
FLICKR_KEY = 'fill me in'
FLICKR_SECRET = 'fill me in'

TUMBLR_KEY = ''

FlickRaw.api_key = FLICKR_KEY
FlickRaw.shared_secret = FLICKR_SECRET

raise "You must provide an admin password. Use a strong one." if ADMIN_PASS == 'fill me in'
