require 'flickraw'

ADMIN_PASS = 'fill me in'
FLICKR_KEY = 'fill me in'
FLICKR_SECRET = 'fill me in'

FlickRaw.api_key = FLICKR_KEY
FlickRaw.shared_secret = FLICKR_SECRET

raise if ADMIN_PASS == 'fill me in'
