<h1>About Photolesce</h1>

Photolesce aggregates together RSS feeds from photo sites like Flickr and Tumblr.

It is [open source](http://www.github.com/fearofcode/photolesce).

It was created in 2013 by Warren Henning, a software developer living in Berkeley, California. You can send [email](mailto:warren.henning@gmail.com) or [tweet](http://www.textsurgery.com) if you like.

This site currently aggregates from the following feeds:
