<h1>About Photolesce</h1>

<p><a href="http://www.photolesce.com">Photolesce</a> is a collection of photos from various photographers and artists around the web. It is created automatically by aggregating together <a href="http://en.wikipedia.org/wiki/RSS">RSS</a> feeds from photo sites like <a href="http://www.flickr.com">Flickr</a> and <a href="http://www.tumblr.com">Tumblr</a>.</p>

<p>It's a play on the word 'coalesce', because it unifies together a bunch of disparate content sources you'd otherwise have to look at individually.</p>

<p>It uses the <a href="http://www.flickr.com/services/feeds/">RSS feeds Flickr creates</a> and <a href="http://www.tumblr.com/docs/en/api/v2">Tumblr's API</a> to generate a timeline of (hopefully) nice photos. If you looked at the raw RSS in a normal aggregator, you'd see the same photo in many different groups and so if you follow related groups/photo pools, you'll see the same photos over and over. Photolesce removes the duplicates and presents all its content in a very simple, timeline-like manner. It also filters Flickr content by their number of favorites using Flickr's API, so the <a href="http://en.wikipedia.org/wiki/Signal-to-noise_ratio">signal-to-noise ratio</a> is much higher than you'd from get just sticking the raw RSS feed in <a href="http://www.google.com/reader/">Google Reader</a>.</p>

<p>It is <a href="http://www.github.com/fearofcode/photolesce">open source</a>.</p>

<p>It was created in 2013 by Warren Henning, a software developer living in Berkeley, California. It is not associated in any way with Flickr, Yahoo, Tumblr, or anyone else; it's just me, your humble narrator. You can send <a href="mailto:warren.henning@gmail.com">email</a> or <a href="http://www.twitter.com/textsurgery">tweet</a> if you like.</p>

<p>This site currently aggregates from the following feeds:</p>

<ul>
<% @feeds.each do |feed| %>
  <li><%= link_to feed.title, feed.site_url %></li>
<% end %>
</ul>
