<!DOCTYPE html>
<html>
<head>
  <title>Photolesce</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag "application" %>

  <script>
window.lzld = (new Lazyload).lzld;
  </script>
</head>
<body>

<%= yield %>


  </body>
</html>
